@import './variables.scss';

.size {
  margin: 0 auto;
  max-width: 90%;
  width: 1200px;
}

#app {
  bottom: 0px;
  left: 0px;
  overflow: hidden;
  position: absolute;
  right: 0px;
  top: 0px;
}

.btn{
  background: none;
  border: none;
  border-radius: 5px;
  color: $color-1;
  font-size: 16px;
  font-weight: 600;
  outline: none;
  padding: 15px;
  &.-primary{
    background: $color-1;
    border: 1px solid $color-1;
    color: $color-w-op8;
  }
  &.-second{
    background-color: $color-2;
    border: 1px solid $color-2;
    color: $color-1;
  }
}
