$color-1: #6172A7;
$color-2: #FDFDF7;

$color-w-op3: rgba(255, 255, 255, 0.3);
$color-w-op8: rgba(255, 255, 255, 0.8);
$color-w-op9: rgba(255, 255, 255, 0.9);

$color-b-op3: rgba(0, 0, 0, 0.3);
$color-b-op5: rgba(0, 0, 0, 0.5);
$color-b-op7: rgba(0, 0, 0, 0.7);

// :root{
//   --color-1: #187DF7;
//   --color-2: ;
//   --color-3: #162B75;
//   --color-4: #D5D8E2;
//   --color-5: #6F8DD0;
//   --color-7: #ABCC9F;
// }
